<!DOCTYPE html>
<html lang="en">
<link rel="shortcut icon" type="image/jpg" href="images/faviconImageClear.png">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <br>
    <center>
    <h1 style="padding: 20px;">My Requests</h1>
    </center>
    <% if (roles.includes('Requester')) { %>
        <center><div class="btn-group" role="group" aria-label="Basic example">
            <!-- <button id='approvedBtn' type="button" class="btn btn-secondary" onclick="showApprovedRequests()" aria-pressed="true">Approved</button>
    <button id="unapprovedBtn" type="button" class="btn btn-secondary" onclick="showUnapprovedRequests()">Unapproved</button>
    <button id="claimedBtn" type="button" class="btn btn-secondary" onclick="showClaimedRequests()">Claimed</button>
    <button id="deniedBtn" type="button" class="btn btn-secondary" onclick="showDeniedRequests()">Denied</button>
    <button id="awaitPaymentBtn" type="button" class="btn btn-secondary" onclick="showAwaitingPaymentRequests()">Awaiting Payment</button>
    <button id="InProgressBtn" type="button" class="btn btn-secondary" onclick="showInProgressRequests()">In Progress</button>
    <button id="DisputedBtn" type="button" class="btn btn-secondary" onclick="showDisputedRequests()">Disputed</button>
    <button id="CompletedBtn" type="button" class="btn btn-secondary" onclick="showCompletedRequets()">Completed</button>
    <button id="CancelledBtn" type="button" class="btn btn-secondary" onclick="showCancelledRequest()">Cancelled</button> -->
            <button id="unclaimedBtn" type="button" class="btn btn-secondary" onclick="showUnclaimedRequests()">Unclaimed</button>
            <button id="claimedBtn" type="button" class="btn btn-secondary" onclick="showClaimedRequests()">Claimed</button>
            <button id="awaitPaymentBtn" type="button" class="btn btn-secondary" onclick="showAwaitingPaymentRequests()">Awaiting Payment</button>
            <button id="InProgressBtn" type="button" class="btn btn-secondary" onclick="showInProgressRequests()">In Progress</button>
            <button id="CompletedBtn" type="button" class="btn btn-secondary" onclick="showCompletedRequests()">Completed</button>
            <button id="cancelledBtn" type="button" class="btn btn-secondary" onclick="showCancelledRequests()">Cancelled</button>
          </div></center>
          <% } %>
        <div style="margin:auto; width:60%">
            <% requests.forEach(function(request) { %>
                <%- include('../partials/request_tile', {request : request.data(), requestId : request.id}); %>
                <% }); %>   
            </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
function openRequest(requestId)
    {
        window.location.href = '/request?requestId='+requestId;
    }

var statusNum = '<%- StatusNumber %>'
if(statusNum == "1" || statusNum == "2"){
    document.getElementById("unclaimedBtn").classList.add("active");
}
else if (statusNum == "3"){
    document.getElementById("claimedBtn").classList.add("active");
}
else if (statusNum == "5"){
    document.getElementById("awaitPaymentBtn").classList.add("active");
}
else if (statusNum == "6" || statusNum == "7"){
    document.getElementById("InProgressBtn").classList.add("active");
}
else if (statusNum == "8"){
    document.getElementById("CompletedBtn").classList.add("active");
}
else if (statusNum=="4" || statusNum == "9"){
    document.getElementById("cancelledBtn").classList.add("active");
};

function openRequest(requestId)
{
    window.location.href = '/request?requestId='+requestId;
}

function showUnclaimedRequests() {
    window.location.href = '/my_requests?StatusNumber=1';
}

function showClaimedRequests() {
    window.location.href = '/my_requests?StatusNumber=3';
}

function showAwaitingPaymentRequests(){
    window.location.href = '/my_requests?StatusNumber=5';
}

function showInProgressRequests(){
    window.location.href = '/my_requests?StatusNumber=6';
}

function showCompletedRequests(){
    window.location.href = '/my_requests?StatusNumber=8';
}

function showCancelledRequests(){
    window.location.href = '/my_requests?StatusNumber=9';
}
</script>